<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257538773212-dhhv90200gieij2kjup9rd667mlac2n4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257538773212-dhhv90200gieij2kjup9rd667mlac2n4</string>
	<key>API_KEY</key>
	<string>AIzaSyBDeTNnnVUVExMkg6ojadK7DPKh6iotmsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>257538773212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.craddle.craddleVendor</string>
	<key>PROJECT_ID</key>
	<string>craddleapp</string>
	<key>STORAGE_BUCKET</key>
	<string>craddleapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257538773212:ios:6787d0c63c25cb2d23e419</string>
	<key>DATABASE_URL</key>
	<string>https://craddleapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>